<div class="container">
    
    <form action="#">
        <div class="form-group">
            <label for="txtnome">Task</label>
            <input type="text" name="txtnome" placeholder="Digite o nome da tarefa ">

            <label for="txtdesc">Descrição</label>
            <input type="text" name="txtdesc" placeholder="Digite o nome da tarefa ">

            <label for="txtresp">Responsável</label>
            <input type="text" name="txtresp" placeholder="Digite o responsavel da tarefa ">

            <label for="txtinicio">Data Inicio</label>
            <input type="date" name="txtinicio">

            <label for="txtfim">Data Termino</label>
            <input type="date" name="txtfim">

            <div></div>
            <div class="button">
                <button>Cancelar</button>
                <button>Cadastrar</button>
            </div>

        </div>




    </form>
</div>