<div class="container">
  <!-- HEADER 1 -->
  <div class="header1">
    <h2>dashboard</h2>
    <i class="bx bx-menu"></i>
  </div>

  <!-- HEADER 2 -->
  <div class="header2">
    <div class="box-esq">
      <i class="bx bxs-bell"></i>
      <i class="bx bx-envelope"></i>
      <i class="bx bxs-cog"></i>
    </div>
    <div class="box-dir">
      <i class="bx bx-search"></i>
      <i class="bx bxs-rocket"></i>
    </div>
  </div>

  <div class="user-infor">
    <div class="box-1">
      <i class='bx bx-bell'></i>
      <i class='bx bx-cog'></i>
      <i class='bx bx-user-circle'></i>
    </div>
    <div class="box-2">s
      <div class="img">
        <img src="/assets/nnn.png" alt="">
      </div>
     
      <h1>Wilton Alves Silva Junior</h1>
      <h5>Junior.silva@gmail.com</h5>
    </div>
    <div class="box-3">
      <div class="icone">
        <div class="dentro">
        <div class="item-1">
          <div class="trofeu">
            <i class='bx bx-trophy' ></i>
          </div>
        </div>

        <h4>20</h4>
        <h4>numero 20</h4>
        <div class="item-2">
          <div class="user">
            <i class='bx bx-trophy' ></i>
            
        </div>
        <h6>20</h6>
        <h6>numero 20</h6>
        </div>
        </div>
      </div>
    </div>
    <div class="box-4"></div>
    <div class="box-5"></div>
  </div>

  <!-- MENU -->
  <div class="menu">
    <ul>
      <li>
        <a href="#"> <i class="bx bxs-dashboard"></i>Dashboard</a>
      </li>

      <li>
        <a href="#"><i class="bx bxs-analyse"></i>Análise</a>
      </li>
      <li>
        <a href="#"><i class="bx bx-task"></i>Todo List</a>
      </li>
      <li>
        <a href="#"> <i class="bx bxs-group"></i>Equipe</a>
      </li>
      <li>
        <a href="#"><i class="bx bxs-group"></i>Inbox</a>
      </li>
      <li>
        <a href="#"><i class="bx bxs-star"></i>Prioridades</a>
      </li>
    </ul>
  </div>
  <!-- CONTENT -->
  <div class="content">
    <div class="ad">
      <div class="img">Imagem</div>
      <div class="graph">Gráfico</div>
    </div>

    <section>
      <div class="box1">
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Membros do Time</span>
        </div>
        <div class="member">
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Wilton</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Aline</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Luana</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Noemy</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Ingrid</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Emely</h3>
              <h4>Professor</h4>
            </div>
          </div>
        </div>
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Atividade</span>
        </div>
        <div class="activity">
          <div class="item-1">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Emely</h3>
                <h4>Professor</h4>
                <h5>11 de Maio de 2023</h5>
              </div>
            </div>
          </div>
          <div class="item-2">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Luana</h3>
                <h4>Professor</h4>
                <h5>11 de Maio de 2023</h5>
              </div>
            </div>
          </div>
          <div class="item-3">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Aline</h3>
                <h4>Professor</h4>
                <h5>11 de Maio de 2023</h5>
              </div>
            </div>
          </div>
          <div class="item-4">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Wilton</h3>
                <h4>Professor</h4>
                <h5>11 de Maio de 2023</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box2">
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Adicionar nova tarefa</span>
        </div>
      </div>
    </section>
  </div>
</div>
