
<div class="container">

    <div class="header">
        <label for="lblHero">Digite o nome do Heroi</label>
        <input type="text" name="txtHero" id=""/>
        <button>Add Hero</button>
    </div>
    <div class="heroes">
        <ul>
            <li *ngFor="let h of heros">{{ h }} </li>
        </ul>

    </div>

    <div class="card-hero">
        <div class="titulo">
        <img src="/assets/capitao.png" all="" class="photo"/>
        <h2>{{ hers.nome }}</h2>
     </div>

     <div class="content"> Lorem ipsum dolor sit amet.</div>

     </div>
</div>