@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.container{
  height: 100vh;
  background: #fde4fd96;
  margin: 0 auto;
  display: grid;
  place-items: center;
  background-image: url("https://image.winudf.com/v2/image1/Y29tLm1vdmluZy53YWxscGFwZXJzLnB1cnBsZS5saXZlLndhbGxwYXBlcl9zY3JlZW5fMV8xNTU0Mjk1Mjc0XzA4MA/screen-1.webp?fakeurl=1&type=.webp");
}

.container .form-group {
  width: 700px;
  height: 500px;
  background: rgb(199, 95, 217);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 0px 20px 2px #daa1eb;
  border-radius: 30px;
  animation: fade-in 1s ease-in-out;
}


.button button {
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 10px #3c0945;
  background: linear-gradient(60deg, #dd7dda, #ad33dd);
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}


.button button:hover {
  filter: brightness(140%);
}

.container .form-group input{
  height:40px ;
  border-radius:10px;
  border: 0.4px solid rgb(150, 105, 192);
  outline: none;
  padding: 5px;
  margin: 15px;
  font-size: 15px;
}

.button{
  display: flex;
  justify-content: space-between;
}

.container .form-group label{
  font-size: 20px;
  color: #000000;
}

@keyframes fade-in{
  0% {
  opacity: 0;
  transform: translateY(80px);
  }
  100% {
  opacity: 1;
  transform: translateY(0px);
  }


}



